@using TeamPortal;
@using System.Configuration;
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <title>Team Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="/Content/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="/">Sharks @ConfigurationManager.AppSettings["PortalTitle"]</a>
            
            <div class="nav-collapse">
                <ul class="nav">
                    @Html.NavLink("Home")
                    @Html.NavLink("Roster")
                    @Html.NavLink("Schedule")
                    @Html.NavLink("Messages")
                </ul>
                <p class="navbar-text pull-right">Logged in as <a href="#">smichelotti</a></p>
            </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
        
        @RenderBody()

      <hr/>

      <footer>
        <p>&copy; Michelotti @DateTime.Now.Year</p>
      </footer>

    </div><!--/.fluid-container-->

      @Scripts.Render("~/bundles/jquery")
      <script src="/Scripts/bootstrap.min.js"></script>
      @RenderSection("Scripts", required: false)
  </body>
</html>
